[submodule "l10n_sv"]
	path = l10n_sv
	url = git@github.com:rocketgithub/l10n_sv.git
	branch = 13.0
[submodule "onlife"]
	path = onlife
	url = git@github.com:rocketgithub/onlife.git
[submodule "hr_expense_invoice"]
	path = hr_expense_invoice
	url = git@github.com:rocketgithub/hr_expense_invoice.git
[submodule "conciliacion_bancaria"]
	path = conciliacion_bancaria
	url = git@github.com:rocketgithub/conciliacion_bancaria.git
	branch = 13.0
