[submodule "l10n_sv"]
	path = l10n_sv
	url = git@github.com:rocketgithub/l10n_sv.git
	branch = 13.0
[submodule "onlife"]
	path = onlife
	url = git@github.com:rocketgithub/onlife.git
[submodule "conciliacion_bancaria"]
	path = conciliacion_bancaria
	url = git@github.com:rocketgithub/conciliacion_bancaria.git
	branch = 13.0
[submodule "hr_expense_invoice"]
	path = hr_expense_invoice
	url = git@github.com:rocketgithub/hr_expense_invoice.git
[submodule "sinc_bigcommerce"]
	path = sinc_bigcommerce
	url = git@github.com:rocketgithub/sinc_bigcommerce.git
[submodule "l10n_sv_extra"]
	path = l10n_sv_extra
	url = git@github.com:rocketgithub/l10n_sv_extra.git
[submodule "pos_sv"]
	path = pos_sv
	url = git@github.com:rocketgithub/pos_sv.git
